body {
    display: flex;
    justify-content: center;
}

.leftNav {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUp {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}