/* IMPORT FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*SET GLOBAL VARIBLES*/

:root {
    --font-color: rgb(34, 21, 11);
    --banner-font-color: cornsilk;
    --accent-color: rgb(195, 152, 92);
    --form-background: rgb(255, 255, 255);
    --form-banner: rgba(195, 152, 92, 0.759);
    --font-size: 1rem;
    --banner-color: rgba(0, 0, 0, 0.7);
    --margin-color: rgb(0, 0, 0);
    --error-color: red;
    --left-width: 40vw;
}

/* RESET AND SET BASE STYLES */

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html, body{
    color: var(--font-color);
    width: 100vw;
    background-color: var(--margin-color);
}

/* SETS DIMENSIONS OF THE MAIN CONTAINER */

.card-container {
    display: flex;

    margin: 0 10rem 0 10rem;
    height: 100vh;
}

/* LEFT SIDE IMAGE CONTAINER  */

.image-container {
    background-image: url('./images/bg-lobby.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--left-width);
}

.banner {
    background-color: var(--banner-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 0;

    position: relative;
    top: 20vh;
}

.companyName, sup {
    color:var(--banner-font-color);
    font-size: calc(var(--font-size) * 3);
}

.logo {
    height: 10vh;
}

.credit {
    display: flex;
    justify-content: center;

    background-color: var(--banner-color);
    color: var(--banner-font-color);
    position: relative;
    top: 80vh;
}

/* RIGHT SIDE AND FORM CONTAINER */

.right-container {
    /* background-image: url(./images/wallpaper-natural.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center; */
    background-color: var(--form-background);
    width: calc(100vw - var(--left-width));

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.left-align {
    padding-left: 1rem;
}

.site-description {
    font-size: calc(var(--font-size) * 2);
    width: 50vw;
}

.form-container {
    margin-top: 4rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    background-color: var(--form-banner);

    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    height: 40vh;
}

.form-bottom {
    margin-top: 3rem;
}

.login-text {
    margin-top: 2rem;
}

/* FORM INPUT CONTAINER */

.motto {
    position: relative;
    font-size: calc(var(--font-size) * 1.5);
}

.inputs {
    display: flex;
    flex-flow: row wrap;
}

.input-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    text-transform: uppercase;
    font-size: calc(var(--font-size) * 0.8);
    width: 40%;
    opacity: 50%;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 1vw;
    background-color: var(--form-banner);
    height: 4vh;
    width: 80%;
}

input:focus {
    outline: none;
    box-sizing: content-box;
    border: 3px solid black;
}


.btn-submit {
    /* background-image: url(./images/wallpaper-natural.jpg);
    background-size: cover;
    background-position: center; */

    background-color: var(--form-background);
    border: 4px solid var(--accent-color);
    border-radius: 3px;
    padding: 1rem 2rem;
    color: var(--accent-color);
    font-weight: 1000;
    font-size: calc(var(--font-size) * 1.2);
}

button:hover {
    background-image: none;
    background-color: var(--accent-color);
    color: var(--font-color);
}

a {
    color: var(--accent-color);
}

a:hover {
    font-weight: 1000;
}