@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* DECLARE VARIABLES */

:root {
    --font-color: rgb(188,170,170);
    --form-color: rgb(119,138,171);
    --highlight-color: rgb(221,187,152);
    --bg-color: rgb(238,221,204);
    --error-color: rgb(180,179,135);
}

/* RESET AND SET BASE STYLING */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--bg-color);
}

/*MAIN CONTAINER: IMAGE AND FORM */

.card-container {
    display: grid;
    grid-template-columns: calc(100%-60%) auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--form-color);
}

/* IMAGE LEFT SIDE */
.image-container {
    display: grid;
    place-items: center;
}